doctype html
html(lang="en")
  head
    title To Do List
    link(href="css/main.css", rel="stylesheet")    
  body
    #app
      .container
        .row
          .col-3
          .col-6
            #tweet-box
              .box-head
                h3 {{title}}
                  span by 
                    a(href="https://vk.com/tommywayss") @TommyWayss
              .box-content
                ul
                  li( v-for="todo in todos")
                      .checkbox(v-bind:class="{ completed : todo.completed }" @click="todo.completed = !todo.completed")
                      p(v-bind:class="{ completed : todo.completed }") {{todo.title}}
               .input-box
                input(v-model="TodoInput" @keyup.enter="addToDo").input-field
                input(type="submit" value="Add" @click="addToDo").input-button
    script(src="js/libs.min.js")
    script(src="js/main.js")
